.Phone {
    position: fixed;
    display: block;
    margin: 0;
    width: 50px;
    height: 50px;
    font-size: 50px;
    bottom: 74px;
    right: 20px;
    background-color: #5bbc6b;
    border-radius: 50%;
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0, 0, 0) scale(2);
    transform: translate3d(0, 0, 0) scale(2);
    z-index: 999;
}

.Phone::before,
.Phone::after {
    position: absolute;
    content: "";
}

.top-whatsapp {
    padding-right: 12px;
    margin-right: 10px;
    border-right: solid 1px #fff;

}

.Phone::before {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 12px;
    left: 12px;
    width: 25px;
    height: 25px;
    background: url(../img/whatsapp-logo.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.call::after {
    background: url(../images/call-icon.svg) !important;
}

.Phone.is-animating {
    -webkit-animation: phone-outer 3000ms infinite;
    animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before {
    -webkit-animation: phone-inner 3000ms infinite;
    animation: phone-inner 3000ms infinite;
}

.Phone.is-animating::after {
    -webkit-animation: phone-icon 3000ms infinite;
    animation: phone-icon 3000ms infinite;
}

@-webkit-keyframes phone-outer {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    33.3333% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.1);
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    }
    66.6666% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
}

@keyframes phone-outer {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    33.3333% {
        -webkit-transform: translate3d(0, 0, 0) scale(1.1);
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    }
    66.6666% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
}

@-webkit-keyframes phone-inner {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(0.9);
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@keyframes phone-inner {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(0.9);
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
}

@-webkit-keyframes phone-icon {
    0% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }
    2% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    4% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    6% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    8% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    10% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    12% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    14% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    16% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    18% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    20% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    22% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    24% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    26% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    28% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    30% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    32% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    34% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    36% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    38% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    40% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    42% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    44% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    46% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }
}

@keyframes phone-icon {
    0% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }
    2% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    4% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    6% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    8% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    10% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    12% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    14% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    16% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    18% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    20% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    22% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    24% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    26% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    28% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    30% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    32% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    34% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    36% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    38% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    40% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    42% {
        -webkit-transform: translate3d(0.01em, 0, 0);
        transform: translate3d(0.01em, 0, 0);
    }
    44% {
        -webkit-transform: translate3d(-0.01em, 0, 0);
        transform: translate3d(-0.01em, 0, 0);
    }
    46% {
        -webkit-transform: translate3d(0em, 0, 0);
        transform: translate3d(0em, 0, 0);
    }
}
.icon-whatsapp:before {
    content: "\ec14";
  }